<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Voyage Vibes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">

        <a class="nav-link active" href="/">Home</a>

        <a class="nav-link" href="/destinations">All Destinations</a>

        <a class="nav-link" href="/destinations/new">Share Your Destination</a>


      </div>
      <div class="navbar-nav ms-auto">

        <form action="/destinations" method="GET"  class="d-flex" id="destination-search"> 
            <input class="form-control me-1" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-sm me-2"  value="Search" type="submit">Search</button>
        </form>

        <% if(!currentUser) { %>
          <a class="nav-link " href="/login">Login</a>
          <a class="nav-link " href="/register">Register</a>
          <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>

      </div>
    </div>
  </div>
</nav>